.header {
    align-items: center; /* 垂直居中對齊 */
    display: flex; /* 設定為彈性盒子 */
    flex-flow: row nowrap; /* 水平排列，不換行 */
    height: 0; /* 高度為 0 */
    justify-content: flex-start; /* 左對齊 */
    left: 12rem; /* 左邊距 */
    position: fixed; /* 固定定位 */
    top: 8rem; /* 上邊距 */
    width: calc(100% - 24rem); /* 寬度計算 */
    z-index: 1000; /* z-index 層級 */
}
.header__bg {
    background-color: #fff; /* 背景顏色為白色 */
    border-radius: 6rem; /* 圓角半徑 */
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.1); /* 陰影效果 */
    height: 12rem; /* 高度 */
    left: calc(50% - 67rem); /* 左邊距 */
    opacity: 0; /* 初始透明度 */
    position: absolute; /* 絕對定位 */
    top: calc(50% - 6rem); /* 上邊距 */
    transition: opacity .1s linear; /* 透明度過渡效果 */
    width: 134rem; /* 寬度 */
}

.header.stick .header__bg {
    opacity: 1; /* 固定時透明度改為 1 */
    transition: none; /* 取消過渡效果 */
}
@media (max-width: 767px) {
    html {
        font-size:calc(var(--vw)/37.5); /* 計算字體大小 */
    }

    br.pcbr {
        display: none; /* 隱藏特定的 br 元素 */
    }

    .wrapper {
        overflow: hidden; /* 隱藏溢出內容 */
        position: relative; /* 相對定位 */
    }
}
@media (min-width: 768px) {
    br.spbr {
        display:none; /* 隱藏特定的 br 元素 */
    }
}

.index__firstview {
    z-index: 1
}

.index__firstview,.index__firstview__bg {
    height: auto;
    position: relative;
    width: 100%
}

.index__firstview__bg {
    align-items: flex-end;
    background-color: #ecf3f2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-height: 100svh;
    padding-top: 42.5svh;
    transform: scale(1.2);
    transform-origin: 50% 50svh;
    transition: transform 3s cubic-bezier(.19,1,.22,1) .5s
}

body.active .index__firstview__bg {
    transform: scale(1)
}

.index__firstview__bg img {
    display: block;
    height: auto;
    width: 100%
}

.index__firstview__hero {
    height: 100svh;
    left: 0;
    min-height: 60rem;
    position: absolute;
    top: 0;
    width: 100%
}

.index__firstview__hero__main {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%)
}

.index__firstview__hero__logo {
    height: 5.6rem;
    position: relative;
    width: 72rem
}

.index__firstview__hero__logo img {
    display: block;
    height: 100%;
    width: 100%
}

.index__firstview__hero__open {
    color: #094;
    font-family: Aoto Gothic Extra Bold,Roboto,Noto Sans JP,sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.2222222222em;
    margin-top: 1rem;
    text-align: center
}

.index__firstview__hero__scroll {
    bottom: 4rem;
    font-size: 1.2rem;
    letter-spacing: .03em;
    line-height: 1.5em;
    position: absolute;
    right: 4rem;
    transform: translateY(100%) rotate(90deg);
    transform-origin: top right
}

@media (max-width: 767px) {
    .index__firstview__bg {
        padding-top:max(16rem,34.5svh)
    }

    body.active .index__firstview__bg {
        transform: scale(1)
    }

    .index__firstview__bg img {
        display: block;
        height: auto;
        width: 72rem
    }

    .index__firstview__hero {
        min-height: 0
    }

    .index__firstview__hero__main {
        top: max(16rem,37.5svh);
        transform: translate(-50%,calc(-50% - 18px))
    }

    .index__firstview__hero__logo {
        height: 6rem;
        overflow: hidden;
        position: relative;
        width: 23.1rem
    }

    .index__firstview__hero__logo:after {
        background-image: url(../images/logotype.svg);
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: 34.5rem 2.7rem;
        content: "";
        display: block;
        height: 2.7rem;
        margin: .4rem auto 0;
        width: 10.8rem
    }

    .index__firstview__hero__logo img {
        display: block;
        height: 2.7rem;
        width: 34.5rem
    }

    .index__firstview__hero__open {
        font-size: 2.1rem;
        letter-spacing: 0;
        line-height: 1.5238095238em;
        margin-top: 1rem
    }

    .index__firstview__hero__scroll {
        display: none
    }
}

.hoverRoll__mask .hoverRoll__text+.hoverRoll__text {
    left: 0;
    position: absolute;
    top: calc(100% + 2px)
}

.hoverRoll.hover .hoverRoll__mask .hoverRoll__text {
    animation: textRollOver .75s cubic-bezier(.19,1,.22,1) 0s 1 normal none!important
}
@keyframes textRollOver {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(calc(-100% - 2px))
    }
}


/* 基本樣式 */

body {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d7f3d0;
}

/* 標題樣式 */
h2 {
    color: #c59054;

}

/* #title1{
      text-align: center;
  font-size: 24px;
  color: #a16c6c;

} */

/* 導航欄樣式 */


header img {
    width: 200px;
    border-right: 1px solid #ccc;
    padding-right: 50px;
    padding-left: 50px;

}

.header-content {
    width: 85%;
    color: #ba8e62;
    background-color: #ffffff;
    /* padding: 2px 0; */
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 80px 80px 80px 80px;



}

.header-content #title1 {
    margin-left: 220px;
    /* border-left: 1px solid #ccc;
       padding-left: 50px;
      */

}

nav ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: flex;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
padding-inline-start: 40px;
unicode-bidi: isolate; */

}

nav li {
    margin-left: 20px;
}

nav a {
    color: #a26c6c;
    text-decoration: none;
    /* transition: color 0.3s, transform 0.3s; */


    /* 添加漸變和放大效果 */
}

nav a:hover {
    /* color: #ddacac; */
    /* transform: scale(1.5);
    transform: rotate(10deg); */

    /* 放大效果 */
}

/* 主要內容區域樣式 */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}

section {
    margin-bottom: 60px;
}

.hero,
.about,
.services,
.contact {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 8px;
}

.hero-content,
.about-content,
.services-content,
.contact-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-btn {
    display: inline-block;
    background-color: #132334;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transform: rotate(10deg);

}

.contact-btn:hover {
    background-color: #a5aeb8;
}

/* 頁腳樣式 */
footer {
    background-color: #9cc566;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}