 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/client-doing-hair-cut-2-min.jpg');
  background-position: 50% 50%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 795px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 795px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0;
  padding: 18px 42px 18px 41px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 796px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 24px rgba(0,0,0,0.65);
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 11.5px));
  min-height: 519px;
  grid-auto-columns: calc(50% - 11.5px);
  grid-gap: 23px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-3 {
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-5 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-8 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-9 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-11 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-12 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-14 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-15 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-17 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-18 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-20 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-21 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

.u-section-2 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 30px 18px;
}

.u-section-2 .u-text-23 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 4px 0 0 auto;
}

.u-section-2 .u-text-24 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -36px auto 0 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.0625rem;
  font-style: italic;
  margin: 24px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-14 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-17 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-20 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-23 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 852px;
}

.u-section-3 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 574px;
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/man-cuts-his-beard-barbershop_111.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 232px;
  height: 232px;
  background-image: url("images/handsome-man-cutting-beard-barber-4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 232px;
  height: 232px;
  background-image: url("images/portrait-man-barbershop-with-cla.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 232px;
  height: 232px;
  background-image: url("images/stylish-man-sitting-barbershop_11.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 30px auto 70px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 660px;
  }

  .u-section-3 .u-text-3 {
    width: 660px;
  }

  .u-section-3 .u-text-4 {
    width: 660px;
  }

  .u-section-3 .u-text-5 {
    width: 660px;
  }

  .u-section-3 .u-text-6 {
    width: 660px;
  }

  .u-section-3 .u-text-7 {
    width: 660px;
  }

  .u-section-3 .u-text-8 {
    width: 660px;
  }

  .u-section-3 .u-text-9 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }

  .u-section-3 .u-text-3 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 520px;
  }

  .u-section-3 .u-text-5 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: 520px;
  }

  .u-section-3 .u-text-7 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    width: 520px;
  }

  .u-section-3 .u-text-9 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-5 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }

  .u-section-3 .u-text-7 {
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    width: 320px;
  }

  .u-section-3 .u-text-9 {
    width: 320px;
  }
}